In [17]:
import pandas as pd


df = pd.read_csv('course_lead_scoring.csv')
df.head()

,lead_source,industry,number_of_courses_viewed,annual_income,employment_status,location,interaction_count,lead_score,converted
0,paid_ads,NaN,1,79450.0,unemployed,south_america,4,0.94,1
1,social_media,retail,1,46992.0,employed,south_america,1,0.80,0
2,events,healthcare,5,78796.0,unemployed,australia,3,0.69,1
3,paid_ads,retail,2,83843.0,NaN,australia,1,0.87,0
4,referral,education,3,85012.0,self_employed,europe,3,0.62,1

In [19]:
df['industry'].mode()

0    retail
Name: industry, dtype: object

In [ ]:
df.dtypes
numerical = ['number_of_courses_viewed', 'annual_income', 'interaction_count', 'lead_score', 'converted']
categorical = []
for col in df.columns:
    if col not in numerical:
        categorical.append(col)

df[numerical].corr()

,number_of_courses_viewed,annual_income,interaction_count,lead_score,converted
number_of_courses_viewed,1.000000,0.031551,-0.023565,-0.004879,0.435914
annual_income,0.031551,1.000000,0.048618,0.005334,0.078256
interaction_count,-0.023565,0.048618,1.000000,0.009888,0.374573
lead_score,-0.004879,0.005334,0.009888,1.000000,0.193673
converted,0.435914,0.078256,0.374573,0.193673,1.000000

In [26]:
from sklearn.model_selection import train_test_split


target = df.converted

# split
df_full_train, df_test = train_test_split(df, test_size= 0.2, random_state=42)
df_train, df_val = train_test_split(df_full_train, test_size= 0.25, random_state=42)

# get target
y_train = df_train.converted.values
y_val = df_val.converted.values
y_test = df_test.converted.values

# Remove target column from features
df_train = df_train.drop(columns=['converted'])
df_val = df_val.drop(columns=['converted'])
df_test = df_test.drop(columns=['converted'])

In [ ]:
from sklearn.metrics import mutual_info_score


mutual_info_score(df_train.industry.fillna('null'), y_train)

ValueError: Input contains NaN