# environment set up. 

You need:

Python 3.11 (note that videos use 3.8)
NumPy, Pandas and Scikit-Learn (latest available versions)
Matplotlib and Seaborn
Jupyter notebooks

I just did it with venv but they wanted conda

# NumPy

In [ ]:
# import
import numpy as np

## Arrays

In [ ]:

a = np.zeros(5)
b = np.ones(5)
c = np.full(10,2.5)
# convert a puthon list to array
d = np.array([1,2,3,4,5])

print("a:", a)
print("b:", b)
print("c:", c)
print("d:", d)

# to access or modify an element, just do array[index]

e = np.arange(2,10)
print("e", e)

f = np.linspace(0, 100, 11)
# this fills everything from 0 to 100 iwith 11 indicies

## multidementional arrays

In [ ]:
a = np.zeros((5,2))
# 5 rows 2 columns
print("a:", a)

b = np.array([
    [1,2,3],
    [4,5,6],
    [7,8,9]
])
print("b:", b)

# to access, do matrix[row, column]
# if we pass one it is matrix[row]
# to access a column, do matrix[:,column]

# all of the above also works with assigning and modifying

## randomly generated arrays

In [ ]:
a = np.random.rand(5,2)
print("a:", a)

# we can set the random seed with np.random.seed(number)

# standard normal distribution
b = np.random.randn(5,2)
print("b:", b)

# only integer
c = np.random.randint(low=0, high=100, size=(5, 2))
print("c:", c)

## element-wise operations

In [ ]:
a = np.arange(5)
# what if we want to do something to all elem
a = a*2
print("a:", a)

# you can chain operations too

# we can do sum of two as well, so a+b. they need to have the same shape

## Comparison Operations

In [ ]:
 print("a", a)
 print(a >= 2)
 print(a > a//2)
 
#  or a > b 

# seeing which elements are actually bigger instead of just t or f: a[a>b]

## Summarizing operations

In [ ]:
a.min() # smallest number
a.sum()
a.mean()
a.std()

# works with 3d as well

___

# Lin alg review

dot product: multiply each seperately

[2 4 5 6] * [1 0 0 2] = 1*2 + 4*0 + 5*0 + 6*2 = 14
```
def vector_vecto_multiplication(u,v):
    assert u.shape[0] = v.shape[0]
    n = u.shape[0]
    sum = 0
    for i in range(u):
        sum += u[i] * v[i]

```

if we are multiplying a matrix with a vector it is the same as matrix matrix multiplication

we can use a.dot(b) to do dot product

## identity matrix
square matrix with 1 as diagnal and 0 everywhere else

1 0 0 0 <br>
0 1 0 0  <br>
0 0 1 0 <br>
0 0 0 1 <br>

if you multiple a matrix by the identity matrix you get the same matrix

in np it is `np.eye(size)`

## matrix inverse
A^-1

it is a matrix where if we multiply by A, we get I

we get it by `np.linalg.inv(matrix)`

In [ ]:
np.eye(10)

___

# Pandas

In [ ]:
#pandas uses dataframes, basically a table grouped by rows.

# use pd.DataFrame(data, columns=myColumns) makes a df
#we cam also do the same with a python dictionary,pd.DataFrame(dictionary)
import pandas as pd

data = [
    [1, 'Toyota Camry', 2020, 'Sedan', 24000],
    [2, 'Honda Civic', 2019, 'Sedan', 22000],
    [3, 'Ford F-150', 2021, 'Truck', 35000],
    [4, 'Tesla Model 3', 2022, 'Sedan', 40000],
    [5, 'Chevrolet Tahoe', 2018, 'SUV', 37000],
    [6, 'BMW X5', 2021, 'SUV', 60000],
    [7, 'Mazda CX-5', 2020, 'SUV', 28000],
    [8, 'Audi A4', 2019, 'Sedan', 37000]
]
columns = ['ID', 'Model', 'Year', 'Type', 'Price']
df = pd.DataFrame(data, columns=columns)
df

In [ ]:
#use head to get the first few elem

df.head(n=2)

In [ ]:
# every column is a series, to make a series, do df.column

df.Model # you can also do df.['Model']

In [ ]:
# multiple col of the same time:
df[['Model', 'Year', 'Price']]

In [ ]:
# add new column

df['title'] = ["clean", "clean", "salvage", "clean", "clean", "salvage", "clean", "clean"]
df

# Index
 
column number, get it by `df.index` or `df.columnName.index`

to get something from an index, do `df.loc[1]` to get the row 1

In [ ]:
df.loc[[1,2]]

In [ ]:
# you can modify the index to be non numbers:
df.index = ['a','b','c','d','e','f','g','h']
df

In [ ]:
# we can still use the positional index using iloc

df.iloc[[1,2,5]]

In [ ]:
# reset index
df.reset_index()
# if you do reset_index(drop = True) it removes the index column

## element wise operations

In [ ]:
df['Price'] / 100

In [ ]:
df['Price'] > 30000

## filtering

In [ ]:
# df[condition]

df[
    df['Price'] >= 30000
]

## String operations

In [ ]:

# lets make all strings lower case

df['Model'].str.lower()

In [ ]:

df['Model'].replace(' ', '_')

# we can then overwrite by doing df[column] = df[column].str.replace(' ','_')

## Summarizing

In [ ]:
# df.column.min()
# you can also do max, mean, describe

df['Price'].describe()
# you can do df.describe() too

# you can also do describe().round(2) to round it

In [ ]:
df.nunique()

## missing values

In [ ]:
df.isnull()

# returns true on the cell with a null

df.isnull().sum() 
# returns how much is missing per column

## group by

In [ ]:
# lets say we want to do: SELECT Title, avg(Price) FROM cars GROUP BY Title

df.groupby('title').Price.mean()

## get numpy arrays or dict

In [ ]:
df.Price.values

In [ ]:
df.to_dict(orient="records")