# Hands On Project

car price prediction model based on feature.

We will use the dataset from kaggle
https://www.kaggle.com/datasets/CooperUnion/cardataset

<br>
Here is the pan:
- Prepare data and do EDA
- Use linear regression
- Understand the internals of linear regression
- Evaluate with RMSE
- Feature engineering
- Regularization
- Use the model

## 1: Data Prep

In [ ]:
#imports
import pandas as pd

In [ ]:
# To load data form a csv use pd.read_csv()


df = pd.read_csv('data/car-price.csv')
df.head()

notice how there are some inconsistencies for the column names, some have upper case some have under scores. Lets make them lower case and mak ethem lower case

In [ ]:
df.columns

In [ ]:
df.columns = df.columns.str.lower().str.replace(' ','_')
df.head()

Now we normalize the values. First we need to find the non string columns

In [ ]:
# get all types
df.dtypes

# we only care about the objects

In [ ]:
strings = list(df.dtypes[df.dtypes == 'object'].index)
# care about the index, since values are all object\
strings

In [ ]:
# loop over to clean them up
for col in strings:
    df[col] = df[col].str.lower().str.replace(' ','_')
    
df.head()

## Exploratory Data Analysis